<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Binary Search Tree</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<h1>Almighty Binary Tree, Share Your Wisdom With Me...</h1>

<form action="/process-numbers" method="post">
    <label for="input">Enter Numbers:</label><br />
    <input type="text" name="input" id="input" required />
    <br /><br />
    <button type="submit">Submit</button>
</form>

<br />

<form action="/previous-trees" method="get">
    <button type="submit">~~ View Previous Trees ~~</button>
</form>
</body>
</html>